* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }


.container {
  // height:1400px;
  width: 1050px;
  margin: 20px auto;
  background: rgb(245,245,245);
  padding-top: 20px;

}

.header {
  height: 60px;
  margin: 15px auto;


  p {
    font-size: 44px;
    text-align: center;
    font-weight: bold;
    margin: 20px auto;
  }
}

.player {
  height: 40px;
  width: 900px;
  margin: 10px auto;
  border: 1px solid grey;
}
  p {

    font-size: 16px;
    margin-left: 75px;
  }



.search {
  height: 150px;
  width: 900px;
  margin: 10px auto;


  .searchField {
    width: 732px;
    height: 50px;
    border: 2px solid grey;
    margin: 40px 0px;
    float: left;
    font-size: 24px;
    color: black;
    padding-left: 20px;

  }

    .searchButton {

    width: 150px;
    border: 2px solid grey;
    float: left;
    border-radius: 6px;
    background: lightgrey;
    font-size: 30px;
    text-align: center;
    margin: 40px 0 40px 15px;
    padding: 5px 0;
    }
}

.results {
  width: 1050px;
  overflow: hidden;

  .resultsBox{
    width: 20%;
    height: 225px;
    float: left;
    overflow: hidden;
    text-align: center;

    img {
      text-align: center;
      width: 100px;
    }

    .title {
      color: blue;
      text-align: center;
      font-size: 14px;
      padding: 10px 0px;
    }

    .artist {
      color: black;
      text-align: center;
      font-size: 18px;
    }
}
}
.active {

}
